/* -
-*-~*~-*-*-~*~-*-*-~*~* |
●▬▬▬▬▬▬▬๑۩۩๑▬▬▬▬▬▬▬●
Made by ~
AndyMagwayer 
앤디 마그웨이어
●▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
──────▄▀▄─────▄▀▄
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
-*-~*~-*-*-~*~-*-*-~*~* |
- */

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
svg {
  z-index: 100;
}

:root {
  --padding: 10vmin;
  --color-background: #D0CBC7;
  --font-size-large: 8vw;
  --font-size-medium: 4vw;
  --font-size-normal: 2vw;
}

@media only screen and (min-width: 800px) {
    :root {
      --font-size-large: 64px;
      --font-size-medium: 32px;
      --font-size-normal: 16px;
    }
  }
  @media only screen and (max-width: 500px) {
    :root {
      --font-size-large: 40px;
      --font-size-medium: 20px;
      --font-size-normal: 14px;
    }
  }